.avatar {
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
    height: 520px;
    width: 260px;
}

.topCard {
    height: 390px;
    background-color: hsl(246, 80%, 60%);
    border-radius: 20px;
    padding-left: 10%;
}

.image img{
    height: 70px;
    width: 70px;
    border: solid white 2px;
    border-radius: 50%;
    margin-top: 15%;
    margin-bottom: 10%;
}

.avatar h1 {
    font-weight: 300;
    font-size: 45px;
    margin-top: -5%;
}

.report {
    color: hsl(235, 45%, 61%);
}

.days {
    margin-left: 10%;
    width: fit-content;
    color: hsl(235, 45%, 61%);
}

.days:hover {
    cursor: pointer;
    color: white;
}

.daysClick {
    margin-left: 10%;
    width: fit-content;
    color: white;
}

.daysClick:hover {
    cursor: pointer;
}